/*09/07/2022*/
body
{
    margin: 0;
    padding: 0;
    background-color: #adadad;
}

/*tabla: posicion en la pagina, fondo blanco*/
table
{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
}

/*Boton "agregar": posicion, anchura, altura, color de letra*/
button
{
    position: absolute;
    top: 28%;
    left: 75%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 34px;
    color: #000;
}

/*Alineamos el texto del encabezado a la izquierda*/
th
{
    text-align: left;
}

/*Diseño de divisiones de celdas de la tabla*/
table, th, td
{
    border: 1px solid #000;
    border-collapse: collapse;
}

/*Relleno y altura de cada celda*/
th, td
{
    padding: 6px 6px;
    height: 34px;
}



