/*10/07/2022*/
/*Alineamos los elementos del menu al centro y establecemos el fondo de la division de color gris*/
.menu-bar
{
    text-align: center;
    background-color: gray;
}

/*Alineamos la lista de opciones respecto a la divisio en forma horizontal y removemos el formato de listado*/
.menu-bar ul
{
    display: inline-flex;
    list-style: none;
    color: #fff;
}

/*Al dar un link a cualquier elemenoto, las letras dentro de este automaticamente se tornan moradas con subrayado*/
/*Aqui lo que hacemos es remover el subrayado y dar un color blanco a las letras para que el diseño sea mas limpio*/
.menu-bar ul a 
{
    text-decoration: none;
    color: #fff;
}

/*Cada opcion(Reporte y reclutar) de la lista tendra anchura, margen y relleno establecidos aqui*/
.menu-bar ul a li
{
    width: 120px;
    margin: 15px;
    padding: 15px;
}

/*Al pasar por encima de cada opcion, el fondo de este se cambiara a negro para resaltar la opcion*/
/*La clase active fue asignada a la opcion que representa la pagina donde estamos, la cual esatra resaltado de negro como aqui especifica*/
.active, .menu-bar ul li:hover
{
    background: #252525;
    border-radius: 3pxs;
}