/*23/07/2022*/
/*Al dar un link a cualquier elemenoto, las letras dentro de este automaticamente se tornan moradas con subrayado*/
/*Aqui lo que hacemos es remover el subrayado y dar un color blanco a las letras para que el diseño sea mas limpio*/
.nav-link
{
    /*position: relative;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

ul
{
    height: 50px;
}

/*Al pasar por encima de cada opcion, el fondo de este se cambiara a negro para resaltar la opcion*/
/*La clase active fue asignada a la opcion que representa la pagina donde estamos, la cual esatra resaltado de negro como aqui especifica*/
.nav-link:hover
{
    background: #252525;
    border-radius: 3pxs;
}