/*09/07/2022*/
body
{
    margin: 0;
    padding: 0;
    background-color: #adadad;
}

/*tabla: posicion en la pagina, fondo blanco*/
table
{
    background: white;
}


/*Alineamos el texto del encabezado a la izquierda*/
th
{
    text-align: left;
}

/*Diseño de divisiones de celdas de la tabla*/
table, th, td
{
    border: 1px solid #000;
    border-collapse: collapse;
}

/*Relleno y altura de cada celda*/
th, td
{
    padding: 6px 6px;
    height: 34px;
}